##
# SDaiLover Open Source & Software Development
#
# @fullname : Stephanus Bagus Saputra
#             ( 戴 Dai 偉 Wie 峯 Funk )
# @email    : wiefunk@stephanusdai.web.id
# @contact  : http://t.me/wiefunkdai
# @support  : http://opencollective.com/wiefunkdai
# @link     : http://www.stephanusdai.web.id
# @license https://www.sdailover.web.id/license/
# @copyright (c) 2023 StephanusDai Developer. All rights reserved.
#
<IfModule mod_rewrite.c>
    <IfModule mod_headers.c>
        Header set Service-Worker-Allowed "/"
        Header add Access-Control-Allow-Origin: "*"
        Header add Access-Control-Allow-Methods: "*"
        Header add Access-Control-Allow-Headers: "*"
        Header add Strict-Transport-Security "max-age=157680000"
    </IfModule>
    <IfModule mod_php4.c> 
        php_flag register_globals Off
    </IfModule>    
    <IfModule mod_php5.c> 
        php_flag allow_url_include Off
        php_flag register_globals Off
    </IfModule>    
    <IfModule mod_php7.c>
        php_value max_input_vars 5000
    </IfModule>
</IfModule>
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
    <IfModule mod_headers.c>
        <FilesMatch "^(artisan|composer.json|composer.lock|package.json|package-lock.json|vite.config.js)$">
            <IfModule !authz_core_module>
                Order Deny,Allow
                Deny from All
            </IfModule>
            <IfModule authz_core_module>
                <RequireAll>
                    Require all denied
                </RequireAll>
            </IfModule>
        </FilesMatch>
        <FilesMatch ".(env|editorconfig|blade.php|env.example|gitattributes|gitignore|lock|vue)$">
            <IfModule !authz_core_module>
                Order Deny,Allow
                Deny from All
            </IfModule>
            <IfModule authz_core_module>
                <RequireAll>
                    Require all denied
                </RequireAll>
            </IfModule>
        </FilesMatch>
    </IfModule>

    RewriteEngine On
    #RewriteBase /clubcoding/absensi

    # Redirect Force HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

ErrorDocument 404 /error?code=404
ErrorDocument 403 /error?code=403
ErrorDocument 401 /error?code=401